.parallax {
  /* The image used */
  background-image: url("../assets/images/background1.jpg");
  /* Set a specific height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-para {
  text-align: center;
  display: block;

}

.button-row {
  /* display: flex; */
  justify-content: center;
  align-items: center;
display: block;

}

.textwhite {
  color: white;
}

.textblack {
  color: black;
}

.back {
 background-image: url("../assets/images/background2.jpg");
 height: 75%;
 width: 100%;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  background-position: center;
  background-repeat: repeat-y;
  padding-left: 30px;
  padding-top: 40px;

}

.ad-left {
  float: left;
}

.ad-right {
  float: right;
  margin-left: 10px;
}

.block3 {
  width: 650px;
}
