<app-navbar></app-navbar>
<div class="parallax">
  <p>
    <app-para class="textwhite"></app-para>
  </p>
  <div class="button-row">
    <button mat-raised-button>Know more</button>
  </div>
</div>
<div><app-para class="textblack"></app-para></div>
<div class="back">
    <p>
        <app-para class="textwhite"></app-para>
    </p>
    <div class="button-row">
        <button mat-raised-button>Basic</button>
    </div>

</div>
<div class="block3">
    <div class="ad-left">
       <app-para></app-para>
    </div>
    <div class="ad-right">
    <app-para></app-para>
    </div>
</div>